*{
	outline: 0;
}
.wrapper{
	width: 970px;
	background-color: slateblue;
	height: 480px;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-left: 140px;
	margin-top: 0px;
	padding-top: 10px;
	width: 300px;
}
.main{
	width: 700px;
	min-height: 390px;
	background-color: lightgoldenrodyellow;
	align-items: center;
	padding-top: 10px;
	margin: 0 auto;
}
.main img{
	margin-top: 7px;
	margin-left: 270px;
	display: block;
	align-items: center;
}
